<div class="section-22 wf-section">
      <div class="div-block-114">
        <div id="w-node-_0d71f2b3-9897-cacc-18ff-86d2b45eb9d9-b45eb9d6" class="div-block-115">
          <h2 class="heading-89 white">{{ texts.-74e3c115 }}</h2>
          <div class="form-block w-form">
            <form id="email-form" name="email-form" data-name="email" method="get" class="form" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded">
              <div class="div-block-116"><input type="email" class="text-field w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Correo" id="email-2" required=""></div><input type="submit" value="Enviar" data-wait="Please wait..." class="submit-button w-button">
            </form>
            <div class="w-form-done">
              <div>{{ texts.5a0ea5a1 }}</div>
            </div>
            <div class="w-form-fail">
              <div>{{ texts.-7c112e99 }}</div>
            </div>
          </div>
        </div>
        <div class="div-block-118">
          <div class="div-block-219">
            <div id="w-node-_06bf37b3-ce9b-e5ce-d8b4-a11ca73022d0-b45eb9d6" class="div-block-221">
              <div class="logo_navbar white w-embed"><svg id="Component_5_3" data-name="Component 5 – 3" xmlns="http://www.w3.org/2000/svg" width="100%" height="auto" viewBox="0 0 3925.001 1355.5">
                  <rect id="Rectangle_1524" data-name="Rectangle 1524" width="1080" height="1080" transform="translate(1755.001 1264) rotate(-180)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1524-2" data-name="Rectangle 1524" width="1080" height="1080" transform="translate(2835.001 1264) rotate(180)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1524-3" data-name="Rectangle 1524" width="1080" height="1080" transform="translate(3915.001 1264) rotate(180)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1523" data-name="Rectangle 1523" width="675" height="675" transform="translate(0.001 1264) rotate(-90)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1522" data-name="Rectangle 1522" width="405" height="405" transform="translate(0.001 184)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1521" data-name="Rectangle 1521" width="270" height="270" transform="translate(675.001 184) rotate(90)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1520" data-name="Rectangle 1520" width="135" height="135" transform="translate(675.001 589) rotate(-180)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1525" data-name="Rectangle 1525" width="135" height="135" transform="translate(810.001 589) rotate(-180)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1528" data-name="Rectangle 1528" width="135" height="135" transform="translate(945.001 319) rotate(-180)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1529" data-name="Rectangle 1529" width="135" height="135" transform="translate(1224.001 1264) rotate(180)" fill="rgba(0,0,0,0)"></rect>
                  <rect id="Rectangle_1519" data-name="Rectangle 1519" width="135" height="135" transform="translate(405.001 589) rotate(-90)" fill="rgba(0,0,0,0)"></rect>
                  <path id="Exclusion_2" data-name="Exclusion 2" d="M-13309.5,2760a339.979,339.979,0,0,1-68.018-6.857,335.774,335.774,0,0,1-63.353-19.665,337.55,337.55,0,0,1-57.33-31.117,340,340,0,0,1-49.949-41.212,340.035,340.035,0,0,1-41.212-49.949,337.535,337.535,0,0,1-31.117-57.329,335.865,335.865,0,0,1-19.666-63.353A340,340,0,0,1-13647,2422.5v-405a339.98,339.98,0,0,1,6.856-68.018,335.845,335.845,0,0,1,19.666-63.352,337.537,337.537,0,0,1,31.117-57.329,339.979,339.979,0,0,1,41.212-49.949,340,340,0,0,1,49.949-41.211,337.58,337.58,0,0,1,57.33-31.117,335.761,335.761,0,0,1,63.353-19.665A339.971,339.971,0,0,1-13309.5,1680a339.971,339.971,0,0,1,68.018,6.857,335.761,335.761,0,0,1,63.353,19.665,337.58,337.58,0,0,1,57.33,31.117,339.985,339.985,0,0,1,49.949,41.211,339.979,339.979,0,0,1,41.212,49.949,337.549,337.549,0,0,1,31.117,57.329,335.816,335.816,0,0,1,19.666,63.352A339.98,339.98,0,0,1-12972,2017.5v405a340,340,0,0,1-6.856,68.019,335.827,335.827,0,0,1-19.666,63.353,337.557,337.557,0,0,1-31.117,57.329,340.035,340.035,0,0,1-41.212,49.949,340.05,340.05,0,0,1-49.949,41.212,337.55,337.55,0,0,1-57.33,31.117,335.774,335.774,0,0,1-63.353,19.665A339.979,339.979,0,0,1-13309.5,2760Zm0-945a204,204,0,0,0-40.812,4.114,201.508,201.508,0,0,0-38.011,11.8,202.54,202.54,0,0,0-34.4,18.671,203.946,203.946,0,0,0-29.969,24.727,203.9,203.9,0,0,0-24.728,29.97,202.53,202.53,0,0,0-18.671,34.4,201.462,201.462,0,0,0-11.8,38.011,203.907,203.907,0,0,0-4.114,40.81,203.919,203.919,0,0,0,4.114,40.811,201.468,201.468,0,0,0,11.8,38.011,202.539,202.539,0,0,0,18.671,34.4,203.979,203.979,0,0,0,24.728,29.969,203.869,203.869,0,0,0,29.969,24.727,202.54,202.54,0,0,0,34.4,18.671,201.507,201.507,0,0,0,38.011,11.8A204.024,204.024,0,0,0-13309.5,2220a204.024,204.024,0,0,0,40.812-4.114,201.507,201.507,0,0,0,38.011-11.8,202.54,202.54,0,0,0,34.4-18.671,203.869,203.869,0,0,0,29.969-24.727,203.979,203.979,0,0,0,24.728-29.969,202.511,202.511,0,0,0,18.671-34.4,201.468,201.468,0,0,0,11.8-38.011A203.919,203.919,0,0,0-13107,2017.5a203.907,203.907,0,0,0-4.114-40.81,201.462,201.462,0,0,0-11.8-38.011,202.5,202.5,0,0,0-18.671-34.4,203.883,203.883,0,0,0-24.728-29.97,203.946,203.946,0,0,0-29.969-24.727,202.54,202.54,0,0,0-34.4-18.671,201.508,201.508,0,0,0-38.011-11.8A204,204,0,0,0-13309.5,1815Z" transform="translate(13647.001 -1496)" fill="#fff"></path>
                  <text id="productos" transform="translate(768.001 620)" fill="#fff" font-size="620" font-family="Avenir-Black, Avenir" font-weight="800" letter-spacing="0.037em">
                    <tspan x="0" y="0">productos</tspan>
                  </text>
                  <text id="digitales" transform="translate(810.001 1128.5)" fill="#fff" font-size="620" font-family="Avenir-Black, Avenir" font-weight="800" letter-spacing="0.037em">
                    <tspan x="0" y="0">digitales</tspan>
                  </text>
                  <text id="mx" transform="translate(3556.169 960.998) rotate(0.223)" fill="#fff" font-size="215" font-family="Avenir-Black, Avenir" font-weight="800">
                    <tspan x="0" y="0">MX</tspan>
                  </text>
                </svg></div>
              <h4 class="white">{{ texts.7b5cb13e }}</h4>
              <div class="div-block-117">
                <a href="{{ links.-4af8987f }}" target="_blank" class="link-block-11 w-inline-block">
                  <div class="text-block-86">{{ texts.f405 }}</div>
                  <div class="text-block-85">{{ texts.-9eee14b }}</div>
                </a>
                <a href="{{ links.7ec1162f }}" class="link-block-11 w-inline-block">
                  <div class="text-block-86">{{ texts.f15a }}</div>
                  <div class="text-block-85">{{ texts.4feef454 }}</div>
                </a>
              </div>
            </div>
            <div>
              <h4 class="white caps">{{ texts.77419824 }}</h4>
              <div class="div-block-220">
                <a href="{{ links.-195d1930 }}" class="link-block-24 w-inline-block">
                  <div>{{ texts.748db90d }}</div>
                </a>
                <a href="{{ links.7b8066dc }}" class="link-block-24 w-inline-block">
                  <div>{{ texts.39ff9dd9 }}</div>
                </a>
                <a href="{{ links.4a4d1f4b }}" class="link-block-24 w-inline-block">
                  <div>{{ texts.-507a1483 }}</div>
                </a>
                <a href="{{ links.361d2a4c }}" class="link-block-24 w-inline-block">
                  <div>{{ texts.-1c55e4f2 }}</div>
                </a>
              </div>
            </div>
            <div>
              <h4 class="white caps">{{ texts.7199a15d }}</h4>
              <div class="div-block-220">
                <a href="{{ links.729758a7 }}" class="link-block-24 w-inline-block">
                  <div>{{ texts.4d3b87ed }}</div>
                </a>
                <a href="{{ links.23 }}" class="link-block-24 w-inline-block">
                  <div>{{ texts.1296d }}</div>
                </a>
                <a href="{{ links.3590b02e }}" class="link-block-24 w-inline-block">
                  <div>{{ texts.7c2d8a5f }}</div>
                </a>
              </div>
              <div class="div-block-220">
                <a href="{{ links.51833550 }}" target="_blank" class="link-block-24 w-inline-block"><img src="{{ images.995cebe.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;160px&quot;}]" sizes="100vw" alt="{{ images.995cebe.alt | trim | escape }}" class="image-44"></a>
              </div>
            </div>
          </div>
          <div class="div-block-132">
            <div class="text-block-111">{{ texts.-7c4f859c }}</div>
          </div>
        </div>
      </div>
    </div>